
* { font-family: "Segoe UI", sans-serif; }

nav ul, nav ul li 
{
    list-style: none;
    display: inline-block;
}
nav ul li 
{
    text-align: center;
    padding: 20px 20px 5px 7px;
    font-size: large;
}
nav ul a
{
    color: black;
    text-decoration: none;
}
nav ul a:hover
{
    color: gray;
}
#sessao_01
{
    width: 100%;
    min-height: 100vh;
    border-top-left-radius: 75px;
    border-top-right-radius: 75px;
    border-bottom-left-radius: 75px;
    border-bottom-right-radius: 75px;
}
.images img
{
    border-radius: 50px;
}
.cole
{
    color: black;
}
.imagem1 { position: relative; }
.imagem2 { position: absolute; top: 0; left: 0; }
.imagem2 img { border: 4px solid white; }
.imagem2 div { position: absolute; top: 0; right: 0; color: white; padding: 10px 10px 0 0; font-size: large; }
.imagem2 div a { color: white; } 